<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebForecast.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebForecast.BLL.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value>4ca0f0f0f7e39d870ec2f3c87e5d7c51</value>
            </setting>
        </WebForecast.BLL.Properties.Settings>
    </applicationSettings>
</configuration>